@import "tailwindcss";

/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/poppins-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/poppins-v24-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/poppins-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* poppins-900 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    src: url("./assets/fonts/poppins-v24-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@theme {
    --color-*: initial;

    --color-purple-900: hsl(242, 48%, 20%);
    --color-purple-800: hsl(242, 48%, 30%);
    --color-purple-700: hsl(242, 48%, 40%);
    --color-purple-600: hsl(242, 48%, 50%);
    --color-purple-500: hsl(242, 48%, 60%);
    --color-purple-400: hsl(242, 48%, 70%);
    --color-purple-300: hsl(242, 48%, 80%);
    --color-purple-200: hsl(242, 48%, 90%);
    --color-purple-100: hsl(242, 48%, 95%);

    --color-white: hsl(0, 0%, 100%);

    --color-gray-900: hsl(220, 20%, 15%);
    --color-gray-800: hsl(220, 20%, 25%);
    --color-gray-700: hsl(220, 20%, 35%);
    --color-gray-600: hsl(220, 20%, 45%);
    --color-gray-500: hsl(220, 20%, 55%);
    --color-gray-400: hsl(220, 20%, 65%);
    --color-gray-300: hsl(220, 20%, 75%);
    --color-gray-200: hsl(220, 20%, 85%);
    --color-gray-100: hsl(220, 20%, 95%);
    --color-gray-50: hsl(220, 20%, 98%);

    --color-red-500: hsl(2, 60%, 56%);

    --font-*: initial;
    --font-weight-*: initial;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
}

@layer base {
    body {
        font-family:
            "Poppins",
            system-ui,
            -apple-system,
            BlinkMacSystemFont,
            "Segoe UI",
            Roboto,
            Oxygen,
            Ubuntu,
            Cantarell,
            "Open Sans",
            "Helvetica Neue",
            sans-serif;

        @apply min-h-screen leading-none;
    }

    button {
        @apply cursor-pointer;
    }

    :focus-visible {
        @apply outline-2 outline-offset-2 outline-purple-900;
    }
}
